<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <style type="text/css" href="./style.css"></style>

  <!--    jQuery 3.x    -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  <!--    Materialize.css   -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <!--  Using icons of Materialize.css-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<div class="navbar-fixed">
  <nav class="#2e7d32 green darken-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">BlogApp</a>

      <!--for PC-->
<!--      <ul id="nav-mobile" class="right hide-on-med-and-down">-->
      <ul id="nav-mobile" class="right">
        <% if user_signed_in? %>
          <!--        when signed in-->
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons left">directions_run</i>Sign Out
            <% end %>
          </li>
          <li>
            <%= link_to "/posts/new" do %>
              <i class="material-icons left">create</i>New post
            <% end %>
          </li>
        <% else %>
          <!--        when signed out-->
          <li>
            <%= link_to new_user_session_path  do %>
              <i class="material-icons left">exit_to_app</i>Sign In
            <% end %>
          </li>

          <li>
            <%= link_to new_user_registration_path do %>
              <i class="material-icons left">person_add</i>Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>
</div>


<body>
<div class="container">
  <%= yield %>
</div>
</body>


</html>
